/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 */

h1 {
  display: flex;
  justify-content: center;
  color: #362706;
}

.items-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}